<div class="rf-col-12 rf-col-md-2">
  <div class="rf-card">
    <div class="rf-card__img" style="background-color: var(--<%= color_name %>);">
    </div>
    <div class="rf-card__body">
      <h2 class="rf-card__title"><%= color_name %></h2>
    </div>
  </div>
</div>