<div class="rf-card rf-col-md-2">
  <div class="rf-card__img" style="background-color: var(--<%= color_name %>);"></div>
  <div class="rf-card__body">
    <p class="rf-card__title"><%= color_name %></p>
  </div>
</div>