<div class="rf-card rf-col-md-2 rf-ml-2w rf-mb-2w">
  <div class="rf-card__img" style="background-color: var(--<%= bg_color %>);">
  	<h3 class="rf-h4" style="color: var(--<%= fg_color %>);"><%= bg_color %></h3>
  </div>
</div>
