<div class="rf-toggle">
    <input type="checkbox" class="rf-toggle__input" id="rf-dark-mode-toggle-switch">
    <label class="rf-toggle__label" for="rf-dark-mode-toggle-switch" data-rf-checked-label="Activé" data-rf-unchecked-label="Désactivé">Thème sombre</label>
</div>