<dialog id="rf-theme-modal" class="rf-modal" role="dialog" aria-labelledby="rf-theme-modal-title">
    <div class="rf-container--fluid rf-container-md">
        <div class="rf-grid-row rf-grid-row--center">
            <div class="rf-col-12 rf-col-md-6 rf-col-lg-4">
                <div class="rf-modal__body">
                    <div class="rf-modal__header">
                        <button class="rf-link--close rf-link" aria-controls="rf-theme-modal">Fermer</button>
                    </div>
                    <div class="rf-modal__content">
                        <h1 id="rf-theme-modal-title" class="rf-modal__title">
                            Paramètres d’affichage
                        </h1>
                        <div id="rf-switch-theme" class="rf-form-group rf-switch-theme">
                            <fieldset class="rf-fieldset">
                                <legend class="rf-fieldset__legend">Choisissez un thème pour personnaliser l’apparence du site.</legend>
                                <div class="rf-fieldset__content">
                                    <div class="rf-radio-group rf-radio-rich">
                                        <input type="radio" id="rf-radios-theme-light" name="rf-radios-theme" value="light">
                                        <label class="rf-label" for="rf-radios-theme-light">Thème clair
                                        </label>
                                    </div>
                                    <div class="rf-radio-group rf-radio-rich">
                                        <input type="radio" id="rf-radios-theme-dark" name="rf-radios-theme" value="dark">
                                        <label class="rf-label" for="rf-radios-theme-dark">Thème sombre
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
