<!-- todo(estellecomment) : import min css and js -->
<script src="/~/@gouvfr/all/dist/js/all.js"></script>
<script src="/static/js/dark-mode-toggle-switch.js"></script>

<footer class="rf-footer" id="footer">
  <div class="rf-container">
    <div class="rf-footer__body">
      <div class="rf-footer__brand">
        <a class="rf-logo"
          href="/"
          title="République française">
          <span class="rf-logo__title">
            République
            <br>française
          </span>
        </a>
      </div>
      <div class="rf-footer__content">
        <p class="rf-footer__content-desc">
          <%= appDescription %>
        </p>
        <p class="rf-footer__content-desc">
            Le code source est ouvert et les contributions sont bienvenues.
            <a title="Voir le code source"
               href="<%= appRepo %>"
               target="_blank"
               rel="noopener"
               >Voir le code source</a>
        </p>
        <ul class="rf-footer__content-list">
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link"
               title="Contactez-nous"
               href="#">
              Contactez-nous
            </a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://www.numerique.gouv.fr/">numerique.gouv.fr</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://beta.gouv.fr/">beta.gouv.fr</a>
          </li>
          <li class="rf-footer__content-item">
            <a class="rf-footer__content-link" href="https://www.gouvernement.fr/">gouvernement.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rf-footer__bottom">
      <ul class="rf-footer__bottom-list">
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/mentions-legales#accessibilite">Accessibilité: non conforme</a>
        </li>
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
        </li>
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="#">Données personnelles</a>
        </li>
        <li class="rf-footer__bottom-item">
          <a class="rf-footer__bottom-link" href="#">Gestion des cookies</a>
        </li>
      </ul>
      <div class="rf-footer__bottom-copy">
        © République Française 2020
      </div>
    </div>
  </div>
</footer>

</body>
</html>
