<script>
  // Options disponibles à l'initialisation du DSFR
  window.dsfr = {
    verbose: true,
    mode: 'runtime'
  };
</script>
<script type="module" src="/~/@gouvfr/dsfr/dist/dsfr/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/~/@gouvfr/dsfr/dist/dsfr/dsfr.nomodule.min.js"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.data.gouv.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '211']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

<div class="fr-follow">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <div class="fr-follow__social">
                    <p class="fr-h5 fr-mb-3v fr-mb-3v">Suivez beta.gouv.fr
                        <br> sur les réseaux sociaux</p>
                    <ul class="fr-links-group fr-links-group--lg">
                        <li>
                          <a class="fr-link fr-fi-github-fill" title="Github betagouv - ouvre une nouvelle fenêtre" href="https://www.github.com/betagouv//" target="_blank">github</a>
                        </li>
                        <li>
                            <a class="fr-link--twitter fr-link" title="Twitter @betagouv - ouvre une nouvelle fenêtre" href="https://twitter.com/betagouv?lang=fr" target="_blank">twitter</a>
                        </li>
                        <li>
                            <a class="fr-link--linkedin fr-link" title="Linkedin betagouv - ouvre une nouvelle fenêtre" href="https://www.linkedin.com/company/betagouv/mycompany/" target="_blank">linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer role="contentinfo" class="fr-footer" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
          <a href="/" title="Retour à l’accueil">
              <p class="fr-logo">
                  République
                  <br>française
              </p>
          </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          <%= appDescription %>
        </p>
        <p class="fr-footer__content-desc">
            Le code source est ouvert et les contributions sont bienvenues.
            <a title="Voir le code source"
               href="<%= appRepo %>"
               target="_blank"
               rel="noopener"
               >Voir le code source</a>
        </p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link"
               title="Contactez-nous"
               href="#">
              Contactez-nous
            </a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://www.numerique.gouv.fr/">numerique.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://beta.gouv.fr/">beta.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" href="https://www.gouvernement.fr/">gouvernement.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/accessibilite">Accessibilité : non conforme</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
        </li>
        <li class="fr-footer__bottom-item">
          <a class="fr-footer__bottom-link" href="/contact">Contactez-nous</a>
        </li>
        <li class="fr-footer__bottom-item">
            <button class="fr-footer__bottom-link fr-fi-sun-fill-line fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a></p>
      </div>
    </div>
  </div>
  <%- include('dark-mode-modale') -%>
</footer>
</body>
</html>
