<!-- todo(estellecomment) : import min css and js -->
<script src="/~/@gouvfr/all/dist/js/all.js"></script>

<footer class="rf-footer" role="contentinfo" id="">
  <div class="rf-container">
      <div class="rf-footer__body">
          <div class="rf-footer__brand">
              <a class="rf-logo" href="/" title="république<br>française">
                  <span class="rf-logo__title">
                    république
                    <br>française
                  </span>
              </a>
          </div>
          <div class="rf-footer__content">
              <p class="rf-footer__content-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ul class="rf-footer__content-links rf-list">
                  <li>
                      <a href="http://legifrance.gouv.fr">legifrance.gouv.fr</a>
                  </li>
                  <li>
                      <a href="http://gouvernement.fr">gouvernement.fr</a>
                  </li>
                  <li>
                      <a href="http://service-public.fr">service-public.fr</a>
                  </li>
                  <li>
                      <a href="http://data.gouv.fr">data.gouv.fr</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="rf-footer__bottom">
          <ul class="rf-footer__bottom-list">
              <li>
                  <a href="#">Plan du site</a>
              </li>
              <li>
                  <a href="#">Accessibilité: non/partiellement/totalement conforme</a>
              </li>
              <li>
                  <a href="#">Mentions légales</a>
              </li>
              <li>
                  <a href="#">Données personnelles</a>
              </li>
              <li>
                  <a href="#">Gestion des cookies</a>
              </li>
          </ul>
          <div class="rf-footer__bottom-copy">
              © République Française 2020
          </div>
      </div>
  </div>
</footer>

</body>
</html>
