<div class="rf-my-8v">
	<div class="rf-callout rf-col-md-12 <%= scheme_classname %>">
		<h3 class="rf-callout__title rf-h4"><%= scheme_desc %></h3>
		<p class="rf-callout__text">Ce composant utilise la classe <code><%= scheme_classname %></code>.</p>
	</div>
</div>