<div class="fr-my-8v">
	<div class="fr-callout fr-col-md-12 <%= scheme_classname %>">
		<h3 class="fr-callout__title fr-h4"><%= scheme_desc %></h3>
		<p class="fr-callout__text">Ce composant utilise la classe <code><%= scheme_classname %></code>.</p>
	</div>
</div>