<div class="rf-col-4">
  <div class="rf-tile">
      <div class="rf-tile__body">
          <h3 class="rf-tile__title rf-h4">
              <a class="rf-tile__link" href="<%= url %>"><%= title %></a>
          </h3>
      </div>
  </div>
</div>