<div class="fr-col-12">
<div class="fr-tile fr-enlarge-link fr-tile--horizontal">
    <div class="fr-tile__body">
        <h4 class="fr-tile__title">
            <a class="fr-tile__link" href="<%= url %>"><%= title %></a>
        </h4>
        <% if (locals.desc) { %>
          <p class="fr-tile__desc"><%= desc %></p>
	     <% } %>
    </div>
    <% if (locals.img) { %>
    <div class="fr-tile__img">
        <img src="https://place-hold.it/80x80" alt="">
        <!-- L'alternative de l'image (attribut alt) doit rester vide car l'image est illustrative et ne doit pas être restituée aux technologies d’assistance -->
    </div>
    <% } %>
</div>
</div>