<%- include('partials/header') -%>
<main role="main" id="contenu">	
<div class="fr-container fr-mb-8w">
	<%- include('partials/ariane',
	  {
	    items: [
	      	{
		        label: 'Accueil',
		        url: '/'
			},
			{
		        label: 'Contact',
			},
	    ],
	  })
	-%>


        <h1>Exemple de formulaire de contact</h1>


              <div class="fr-callout fr-callout--scheme-soft-blue-soft fr-mb-3w">
				  <p class="fr-callout__text">Ne mentionnez pas de données personnelles (nom, adresse, numéros de téléphone, numéro de sécurité sociale, numéro fiscal, lieu et date de naissance...) à l'exception, bien sûr, de votre adresse électronique.</p>
				</div>

          <form action="/" method="POST">
            <div class="fr-input-group">
			  <label class="fr-label" for="email" aria-describedby="format">Votre adresse électronique</label>
			  <p class="fr-hint-text" id="format">L’adresse électronique doit être au format <em>nom@exemple.fr</em></p>
              <input class="fr-input" type="email" id="email" name="email" required>
            </div>
	        <div class="fr-input-group">
				<label class="fr-label" for="message">Votre message</label>
				<textarea required class="fr-input" id="message" rows="5"></textarea>
	        </div>
            <div class="fr-input-group">
              <button type="submit" class="fr-btn" >Envoyer mon message</button>
            </div>
          </form>


</div>
</main>
<%- include('partials/footer') -%>