<%- include('partials/header') -%>

<div class="rf-container">
  <div class="rf-grid-row rf-grid-row--center">
    <div class="rf-col rf-col-lg-8">
      <div id="je-cree-une-conf" class="main-paragraph">
        <h2>Ceci est un très beau formulaire</h2>
          
            
              <div class="rf-callout rf-fi-information-line rf-callout--scheme-soft-blue-soft rf-mb-3w">
				  <p class="rf-callout__text">Nous avons eu des problèmes ce mardi 5 janvier de 9h57 à 10h07 pour créer des salles d'audioconférence. Le service a normalement été rétabli, toutes nos excuses pour cette interruption.</p>
				</div>
            
          <form action="/" method="POST">
            <div class="rf-input-group">
              <label class="rf-label" for="email">Votre email professionnel :</label>
              <input class="rf-input" type="email" id="email" name="email" required="">
            </div>
            
	          <div class="rf-input-group">
	            <label class="rf-label" for="day">Date de votre conférence :</label>
	            <p class="rf-hint-text" id="day-hint">La conférence vous sera réservée pour la journée choisie.</p>
	            <select class="rf-select" id="day" name="day" aria-describedby="day-hint">
	              
	                <option value="2021-01-15">Aujourd'hui</option>
	              
	                <option value="2021-01-16">Demain</option>
	              
	                <option value="2021-01-17">dimanche 17 janvier 2021</option>
	              
	                <option value="2021-01-18">lundi 18 janvier 2021</option>
	              
	                <option value="2021-01-19">mardi 19 janvier 2021</option>
	              
	                <option value="2021-01-20">mercredi 20 janvier 2021</option>
	              
	                <option value="2021-01-21">jeudi 21 janvier 2021</option>
	              
	                <option value="2021-01-22">vendredi 22 janvier 2021</option>
	              
	                <option value="2021-01-23">samedi 23 janvier 2021</option>
	              
	                <option value="2021-01-24">dimanche 24 janvier 2021</option>
	              
	                <option value="2021-01-25">lundi 25 janvier 2021</option>
	              
	                <option value="2021-01-26">mardi 26 janvier 2021</option>
	              
	                <option value="2021-01-27">mercredi 27 janvier 2021</option>
	              
	                <option value="2021-01-28">jeudi 28 janvier 2021</option>
	              
	            </select>
	          </div>
            

            <div class="rf-input-group">
              <button type="submit" class="rf-btn" title="Réserver ma conférence">Valider ce formulaire</button>
            </div>
          </form>

      </div>

    </div>
  </div>
</div>

