<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h2>Ce site est une démo</h2>
  <p>
    C'est un effort bénévole pour maintenir un site de démo du design system de l'Etat. Pas de garantie qu'il soit parfait!
  </p>
  <div class="sub-paragraph">
    <h3>Vous voulez participer ? </h3>
    <p>
      Vous pouvez nous aider en signalant les problèmes.
      Vous pouvez <a href="https://github.com/betagouv/template-design-system-de-l-etat/issues">voir les problèmes déjà signalés par d'autres</a>
      et <a href="https://github.com/betagouv/template-design-system-de-l-etat/issues/new">signaler un nouveau problème</a>.
    </p>
    <p>
      Vous pouvez aussi contribuer directement au code! Ouvrez une PR sur le repo :
      <a href="https://github.com/betagouv/template-design-system-de-l-etat">https://github.com/betagouv/template-design-system-de-l-etat</a>
    </p>
  </div>
</div>

<%- include('partials/section',
  {
    section:
      {
        title: 'Une section en trois parties',
        parts: [
          {
            title: 'Une partie',
            text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
          },
          {
            title: 'Une autre partie',
            text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
          },
          {
            title: 'Une troisième partie',
            text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
          },
        ],
        cssClass: 'rf-bg--alt',
      },
  })
-%>
<%- include('partials/section',
  {
    section:
      {
        title: 'Une deuxième section en trois parties',
        parts: [
          {
            title: 'Une partie',
            text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
          },
          {
            title: 'Une autre partie',
            text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
          },
          {
            title: 'Une troisième partie',
            text: 'Des détails de cette partie, afin d\'expliquer mieux la partie',
          },
        ],
      },
  })
-%>

<div class="rf-container rf-pb-6w rf-pt-2w">
  <h2>Comment ça marche ?</h2>
  <div>
    <div class="sub-paragraph">
      <h3>Je fais la première étape</h3>
      <p>
        Renseignez votre email professionnel pour recevoir un lien de création : en un clic, vous aurez ce que vous vouliez !
      </p>
    </div>
    <div class="sub-paragraph">
      <h3>Je fais la deuxième étape</h3>
      <p>
        Renseignez votre email professionnel pour recevoir un lien de création : en un clic, vous aurez ce que vous vouliez !
      </p>
      <p>
        Renseignez votre email professionnel pour recevoir un lien de création : en un clic, vous aurez ce que vous vouliez !
      </p>
      </p>
    </div>
    <div class="sub-paragraph">
      <h3>C'est bon c'est fini !</h3>
      <p>
        Renseignez votre email professionnel pour recevoir un lien de création : en un clic, vous aurez ce que vous vouliez !
      </p>
      <p>
        Renseignez votre email professionnel pour recevoir un lien de création : en un clic, vous aurez ce que vous vouliez !
      </p>
      <p>
        Renseignez votre email professionnel pour recevoir un lien de création : en un clic, vous aurez ce que vous vouliez !
      </p>
    </div>
  </div>
</div>

<div class="rf-container rf-pb-6w rf-pt-2w">
  <h2>Changer de thème</h2>
  <p>
    Ca peut être utile pour l'eccessibilité ! Le js correspondant est dans /static/js/dark-mode-toggle-switch.js, n'oubliez pas de l'ajouter à la page avec un 	&lt;script&gt;.
  </p>
  <div class="rf-container rf-pb-6w rf-pt-2w">
    <div class="rf-toggle rf-toggle--border-bottom">
      <input type="checkbox" class="rf-toggle__input" id="rf-dark-mode-toggle-switch">
      <label class="rf-toggle__label" for="rf-dark-mode-toggle-switch" data-rf-checked-label="Activé" data-rf-unchecked-label="Désactivé">Thème sombre</label>
      <p class="rf-hint-text">Note : ce composant pour changer de thème n'est pas officiellement supporté par le DS, il est fait maison. A vos risques et périls.</p>
    </div>
  </div>

</div>
<%- include('partials/footer') -%>
