<%- include('partials/header') -%>
<div class="rf-container rf-pb-6w rf-pt-2w">
  <h1>Ressources utiles</h1>
  <ul>
    <li><a href="https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019574/D+veloppeurs">Documentation officielle du Design System</a></li>
</ul>
<h2>Sites utilisant déjà le Design Sytem</h2>
<ul>
    <li>
        <a href="https://volontaires.fonction-publique.gouv.fr/">volontaires.fonction-publique.gouv.fr</a>
    </li>
    <li>
        <a href="https://audioconf.numerique.gouv.fr/">audioconf.numerique.gouv.fr</a>
    </li>
    <li>
        <a href="https://deces.matchid.io/">deces.matchid.io</a>
    </li>
    <li>
        <a href="https://trackdechets.beta.gouv.fr/">trackdechets.beta.gouv.fr</a>
    </li>
    <li>
        <a href="https://annuaire-entreprises.data.gouv.fr/">l'Annuaire des Entreprises</a>
    </li>
    <li>
        <a href="https://www.santepsyetudiants.beta.gouv.fr/">Santé Psy Étudiant</a>
  </ul>
</div>
<%- include('partials/footer') -%>
