<%- include('partials/header') -%>
<main role="main" id="contenu">
<div class="fr-container fr-mb-8w">
  <%- include('partials/ariane', { items: [
        { label: 'Accueil', url: '/' },
        { label: 'Typographie' },
    ],})
-%>


  <h1>Typographie</h1>

  <p>Les typographies Marianne® et Spectral sont les <a href="https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/la-typographie">typographies officielles de la charte de l'État</a>. Elles sont disponibles au téléchargement sur la <a href="https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019527/Typographie+-+Typography">documentation officielle du Design System de l'État</a>.</p>

  <div class="fr-grid-row fr-grid-row-gutters">
    <div class="fr-col-6 fr-col-xs-12">
      <h2>Chapô</h2>
      <p class="fr-text--lead">Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet.</p>

      <h2>Article</h2>
      <p class="fr-text--lg">Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>

      <h2>Standard</h2>
      <p class="fr-text--md">In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget.</p>

      <h2>Détail</h2>
      <p class="fr-text--sm"> Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan.</p>

      <h2>Mention</h2>
      <p class="fr-text--xs">Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
    </div>

    <div class="fr-col-6 fr-col-xs-12">
      <h3>Typographie alternative</h3>
      <div class="fr-callout fr-col-md-12 fr-scheme-soft-blue-soft fr-mb-8v">
        <p class="fr-callout__text">L’usage de la typographie Spectral est proposé en appoint pour certaines informations. Son usage doit être limité (par comme sur cette démo donc).</p>
      </div>


      <h3>Article alternatif</h3>
      <p class="fr-text--lg fr-text--alt">Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>

      <h3>Texte standard alternatif</h3>
      <p class="fr-text--md fr-text--alt">In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget.</p>

      <h3>Détail alternatif</h3>
      <p class="fr-text--sm fr-text--alt"> Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan.</p>

      <h3>Mention alternatif</h3>
      <p class="fr-text--xs fr-text--alt">Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
    </div>

  </div>

  <h1>Titre de niveau 1</h1>
  <h2>Titre de niveau 2</h2>
  <h3>Titre de niveau 3</h3>
  <h4>Titre de niveau 4</h4>
  <h5>Titre de niveau 5</h5>
  <h6>Titre de niveau 6</h6>

</div>
</main>
<%- include('partials/footer') -%>
